@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
header img {
    width: 100px;
    height: 60px;
    margin-left: 20px;
    cursor: pointer;
}
.left-section {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 10px;
    
}
.middle-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: -40px;
}
.middle-section form input {
    width: 400px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
   
}
.middle-section form {
    display: flex;
    align-items: center;
    
    
    width: 100%;
}
.middle-section form button {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background:whitesmoke;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.mic{
    margin-left: -50px;
    background: white;
    border: none;
}

.right-section {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.right-section button {
   
    
    border-radius: 5px;
    border: none;
    
    background: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;;
}